<div class="card mb-4">
    <div class="card-header text-center">
        <!--card title-->
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead class="table-<!--page.theme--> table-active">
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Missed</th>
                <th scope="col">Covered</th>
                <th scope="col">Total</th>
                <th scope="col">Percent</th>
                <th scope="col">Coverage</th>
            </tr>
            </thead>
            <tbody>
            <tr><!--report.counter.instructions empty counter cleanup placeholder-->
                <th scope="row" class="table-<!--page.theme--> table-active">Instructions</th><!--report.counter.instructions empty counter cleanup placeholder-->
                <td><!--report.counter.instructions.missed--></td>
                <td><!--report.counter.instructions.covered--></td>
                <td><!--report.counter.instructions.total--></td>
                <td><!--report.counter.instructions.percent-->%</td>
                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: <!--report.counter.instructions.percent-->%"></div></div> </td>
            </tr><!--report.counter.instructions empty counter cleanup placeholder-->
            <tr><!--report.counter.branches empty counter cleanup placeholder-->
                <th scope="row" class="table-<!--page.theme--> table-active">Branches</th><!--report.counter.branches empty counter cleanup placeholder-->
                <td><!--report.counter.branches.missed--></td>
                <td><!--report.counter.branches.covered--></td>
                <td><!--report.counter.branches.total--></td>
                <td><!--report.counter.branches.percent-->%</td>
                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: <!--report.counter.branches.percent-->%"></div></div> </td>
            </tr><!--report.counter.branches empty counter cleanup placeholder-->
            <tr><!--report.counter.lines empty counter cleanup placeholder-->
                <th scope="row" class="table-<!--page.theme--> table-active">Lines</th><!--report.counter.lines empty counter cleanup placeholder-->
                <td><!--report.counter.lines.missed--></td>
                <td><!--report.counter.lines.covered--></td>
                <td><!--report.counter.lines.total--></td>
                <td><!--report.counter.lines.percent-->%</td>
                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: <!--report.counter.lines.percent-->%"></div></div> </td>
            </tr><!--report.counter.lines empty counter cleanup placeholder-->
            <tr><!--report.counter.methods empty counter cleanup placeholder-->
                <th scope="row" class="table-<!--page.theme--> table-active">Methods</th><!--report.counter.methods empty counter cleanup placeholder-->
                <td><!--report.counter.methods.missed--></td>
                <td><!--report.counter.methods.covered--></td>
                <td><!--report.counter.methods.total--></td>
                <td><!--report.counter.methods.percent-->%</td>
                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: <!--report.counter.methods.percent-->%"></div></div> </td>
            </tr><!--report.counter.methods empty counter cleanup placeholder-->
            <tr><!--report.counter.classes empty counter cleanup placeholder-->
                <th scope="row" class="table-<!--page.theme--> table-active">Classes</th><!--report.counter.classes empty counter cleanup placeholder-->
                <td><!--report.counter.classes.missed--></td>
                <td><!--report.counter.classes.covered--></td>
                <td><!--report.counter.classes.total--></td>
                <td><!--report.counter.classes.percent-->%</td>
                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: <!--report.counter.classes.percent-->%"></div></div> </td>
            </tr><!--report.counter.classes empty counter cleanup placeholder-->
            <tr><!--report.counter.complexity empty counter cleanup placeholder-->
                <th scope="row" class="table-<!--page.theme--> table-active">Complexity</th><!--report.counter.complexity empty counter cleanup placeholder-->
                <td><!--report.counter.complexity.missed--></td>
                <td><!--report.counter.complexity.covered--></td>
                <td><!--report.counter.complexity.total--></td>
                <td><!--report.counter.complexity.percent-->%</td>
                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: <!--report.counter.complexity.percent-->%"></div></div> </td>
            </tr><!--report.counter.complexity empty counter cleanup placeholder-->
            </tbody>
        </table>
    </div>
</div>