<div class="card">
    <div class="card-header">
        <!--statistics card title-->
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead class="table-<!--page.theme--> table-active">
                <tr>
                    <th scope="col" rowspan="2" class="align-middle">Path</th>
                    <th scope="col" colspan="6" class="text-center">Coverage (missed - covered - total - percent)</th>
                </tr>
                <tr>
                    <th scope="col">Instructions</th>
                    <th scope="col">Branches</th>
                    <th scope="col">Lines</th>
                    <th scope="col">Methods</th>
                    <th scope="col">Classes</th>
                    <th scope="col">Complexity</th>
                </tr>
                </thead>
                <tbody>
                <!--statistics rows-->
                </tbody>
            </table>
        </div>
    </div>
</div>