<tr>
    <td <!--100.percent-->><a href="<!--page.location-->"><!--item.name--></a></td>
    <td <!--100.percent-->><!--classes.count--></td>
    <td <!--100.percent-->><!--sourcefiles.count--></td>
    <td <!--100.percent-->><!--counter.instructions--></td>
    <td <!--100.percent-->><!--counter.branches--></td>
    <td <!--100.percent-->><!--counter.lines--></td>
    <td <!--100.percent-->><!--counter.methods--></td>
    <td <!--100.percent-->><!--counter.classes--></td>
    <td <!--100.percent-->><!--counter.complexity--></td>
</tr>